<h1><center> Our goal </center></h1>

|| country | year   | week | disease   | cases   | region   |
|------|------|------|------|------|------|
|<b>0</b>|   Malaysia  | 2016|1   |Dengue Fever|2    |PERLIS|
|...|   ...  | ...|...  |... |...   |...|

<h1><center> What we have (Malaysia)</center></h1>

In [1]:
import pandas as pd

In [2]:
file_path = "./../../data/2_clean/in/weekly-dengue.xlsx"
xls_file = pd.ExcelFile(file_path)
df = xls_file.parse()
df.head(20)

,2010,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54
0,NEGERI,Minggu 1,Minggu 2,Minggu 3,Minggu 4,Minggu 5,Minggu 6,Minggu 7,Minggu 8,Minggu 9,...,Minggu 45,Minggu 46,Minggu 47,Minggu 48,Minggu 49,Minggu 50,Minggu 51,Minggu 52,NaN,NaN
1,PERLIS,na,na,na,na,na,na,na,2,4,...,6,6,4,2,2,4,4,1,192.0,NaN
2,KEDAH,na,na,na,na,na,na,na,4,14,...,11,10,10,18,22,13,9,9,717.0,NaN
3,PULAU PINANG,na,na,na,na,na,na,na,34,23,...,43,43,52,38,42,58,42,37,1653.0,NaN
4,PERAK,na,na,na,na,na,na,na,36,65,...,36,28,27,30,20,36,42,40,2105.0,NaN
5,SELANGOR,na,na,na,na,na,na,na,583,496,...,217,167,178,186,132,139,178,188,13086.0,NaN
6,WPKL/PUTRAJAYA,na,na,na,na,na,na,na,116,154,...,61,45,61,43,28,47,39,40,3561.0,NaN
7,N.SEMBILAN,na,na,na,na,na,na,na,50,31,...,10,9,12,8,9,6,7,4,1091.0,NaN
8,MELAKA,na,na,na,na,na,na,na,7,4,...,39,40,32,31,28,17,23,8,1418.0,NaN
9,JOHOR,na,na,na,na,na,na,na,50,45,...,86,72,70,56,65,58,45,51,3973.0,NaN
10,PAHANG,na,na,na,na,na,na,na,31,38,...,35,47,58,48,46,51,42,27,1512.0,NaN
11,TERENGGANU,na,na,na,na,na,na,na,28,23,...,34,24,28,29,30,18,23,18,1311.0,NaN
12,KELANTAN,na,na,na,na,na,na,na,18,28,...,36,29,28,44,20,28,22,21,3453.0,NaN
13,SARAWAK,na,na,na,na,na,na,na,114,100,...,48,49,40,49,38,29,30,29,3136.0,NaN
14,SABAH,na,na,na,na,na,na,na,48,49,...,22,21,29,18,15,19,13,14,1723.0,NaN
15,LABUAN,na,na,na,na,na,na,na,0,0,...,0,0,0,0,1,1,0,0,12.0,NaN
16,MALAYSIA,na,na,na,na,na,na,na,1121,1074,...,684,590,629,600,498,524,519,487,38943.0,NaN
17,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NEGERI,Minggu 1,Minggu 2,Minggu 3,Minggu 4,Minggu 5,Minggu 6,Minggu 7,Minggu 8,Minggu 9,...,Minggu 45,Minggu 46,Minggu 47,Minggu 48,Minggu 49,Minggu 50,Minggu 51,Minggu 52,NaN,NaN
19,PERLIS,2,7,3,4,0,2,1,0,0,...,1,4,2,1,1,1,3,2,110.0,NaN

In [3]:
# TODO define constants & explain NaN 
df = pd.read_excel(file_path, na_values="na", skiprows=1, skip_footer=110, parse_cols=52, index=False)
df.head()

,NEGERI,Minggu 1,Minggu 2,Minggu 3,Minggu 4,Minggu 5,Minggu 6,Minggu 7,Minggu 8,Minggu 9,...,Minggu 43,Minggu 44,Minggu 45,Minggu 46,Minggu 47,Minggu 48,Minggu 49,Minggu 50,Minggu 51,Minggu 52
0,PERLIS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,4,...,6,0,6,6,4,2,2,4,4,1
1,KEDAH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,14,...,17,6,11,10,10,18,22,13,9,9
2,PULAU PINANG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34,23,...,41,31,43,43,52,38,42,58,42,37
3,PERAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,65,...,51,39,36,28,27,30,20,36,42,40
4,SELANGOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,583,496,...,246,198,217,167,178,186,132,139,178,188

<h1><center>What is melt?</center></h1>

In [4]:
#Melt transform wide dataframe to tall dataframe
melt_example_df = pd.DataFrame(data={'Student': ['Sarah', 'Ben'], 'Biology': ['A', 'B'], 'Math':['C', 'A'], 'Physics':['B', 'A']})
melt_example_df = melt_example_df[['Student', 'Biology', 'Math', 'Physics']]
melt_example_df.head()

  Student Biology Math Physics
0   Sarah       A    C       B
1     Ben       B    A       A

In [5]:
melt_example_df = pd.melt(melt_example_df, var_name='Subject', value_name='Score', id_vars='Student')
melt_example_df.head()

  Student  Subject Score
0   Sarah  Biology     A
1     Ben  Biology     B
2   Sarah     Math     C
3     Ben     Math     A
4   Sarah  Physics     B

<h1><center>Back to Malaysia dataframe</center></h1>

In [6]:
df.head()

,NEGERI,Minggu 1,Minggu 2,Minggu 3,Minggu 4,Minggu 5,Minggu 6,Minggu 7,Minggu 8,Minggu 9,...,Minggu 43,Minggu 44,Minggu 45,Minggu 46,Minggu 47,Minggu 48,Minggu 49,Minggu 50,Minggu 51,Minggu 52
0,PERLIS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,4,...,6,0,6,6,4,2,2,4,4,1
1,KEDAH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,14,...,17,6,11,10,10,18,22,13,9,9
2,PULAU PINANG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34,23,...,41,31,43,43,52,38,42,58,42,37
3,PERAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,65,...,51,39,36,28,27,30,20,36,42,40
4,SELANGOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,583,496,...,246,198,217,167,178,186,132,139,178,188

In [7]:
df = pd.melt(df, var_name='week', value_name='cases', id_vars='NEGERI')
df.head()

         NEGERI      week  cases
0        PERLIS  Minggu 1    NaN
1         KEDAH  Minggu 1    NaN
2  PULAU PINANG  Minggu 1    NaN
3         PERAK  Minggu 1    NaN
4      SELANGOR  Minggu 1    NaN

In [8]:
df['year'] = 2010
df['country'] = 'Malaysia'
df.head()

         NEGERI      week  cases  year   country
0        PERLIS  Minggu 1    NaN  2010  Malaysia
1         KEDAH  Minggu 1    NaN  2010  Malaysia
2  PULAU PINANG  Minggu 1    NaN  2010  Malaysia
3         PERAK  Minggu 1    NaN  2010  Malaysia
4      SELANGOR  Minggu 1    NaN  2010  Malaysia

In [9]:
df['week'] = df['week'].map(lambda x: x.strip()).str[-2:].astype(int)
df.head()

         NEGERI  week  cases  year   country
0        PERLIS     1    NaN  2010  Malaysia
1         KEDAH     1    NaN  2010  Malaysia
2  PULAU PINANG     1    NaN  2010  Malaysia
3         PERAK     1    NaN  2010  Malaysia
4      SELANGOR     1    NaN  2010  Malaysia

In [10]:
df.rename(columns={'NEGERI': 'region'}, inplace=True)
df.head()

         region  week  cases  year   country
0        PERLIS     1    NaN  2010  Malaysia
1         KEDAH     1    NaN  2010  Malaysia
2  PULAU PINANG     1    NaN  2010  Malaysia
3         PERAK     1    NaN  2010  Malaysia
4      SELANGOR     1    NaN  2010  Malaysia

In [11]:
df.to_csv("./../../data/2_clean/MY_dengue.csv")