<h1><center> Our goal (tidy)</center></h1>

|| country | year   | week | disease   | cases   |
|------|------|------|------|------|------|
|<b>0</b>|   Singapore  | 2015|1   |Dengue Fever|3    |
|<b>1</b>|   Singapore  | 2015|2   |Malaria|0    |
|...|   ...  | ...|...  |... |...   |

<h1><center> What we have (raw)</center></h1>

In [48]:
import pandas as pd

In [49]:
df = pd.read_csv("./../../data/1_raw/SG_dengue-malaria.csv", names=['year_week', 'disease', 'cases'], header=0)
df.head()

  year_week                    disease  cases
0  2012-W17               Dengue Fever     64
1  2012-W17  Dengue Haemorrhagic Fever      0
2  2012-W17                    Malaria      2
3  2012-W18               Dengue Fever     86
4  2012-W18  Dengue Haemorrhagic Fever      2

<h1><center>Cleaning steps</center><h1>

In [50]:
# Step 1: add a new column
df["country"] = "Singapore"
df.head()

  year_week                    disease  cases    country
0  2012-W17               Dengue Fever     64  Singapore
1  2012-W17  Dengue Haemorrhagic Fever      0  Singapore
2  2012-W17                    Malaria      2  Singapore
3  2012-W18               Dengue Fever     86  Singapore
4  2012-W18  Dengue Haemorrhagic Fever      2  Singapore

In [51]:
# split practising
s = "FirstHELLOSecond"
a, b = s.split("HELLO")
print(a, b)

First Second

In [53]:
# Step 2: split year_week into two columns: year and week
df[['year','week']] = df['year_week'].str.split('-W', expand=True) #try expand=false, show split on one string
df.head()

  year_week                    disease  cases    country  year week
0  2012-W17               Dengue Fever     64  Singapore  2012   17
1  2012-W17  Dengue Haemorrhagic Fever      0  Singapore  2012   17
2  2012-W17                    Malaria      2  Singapore  2012   17
3  2012-W18               Dengue Fever     86  Singapore  2012   18
4  2012-W18  Dengue Haemorrhagic Fever      2  Singapore  2012   18

In [54]:
# Step 3: remove year_week column
df.drop('year_week', axis=1, inplace=True)
df.head()

                     disease  cases    country  year week
0               Dengue Fever     64  Singapore  2012   17
1  Dengue Haemorrhagic Fever      0  Singapore  2012   17
2                    Malaria      2  Singapore  2012   17
3               Dengue Fever     86  Singapore  2012   18
4  Dengue Haemorrhagic Fever      2  Singapore  2012   18

In [55]:
# lstrip practising 
s = "00000000065"
s.lstrip("0")

'65'

In [56]:
# Step 4: clean week column
df['week'] = df['week'].apply(lambda x: x.lstrip("0"))
df.head()

                     disease  cases    country  year week
0               Dengue Fever     64  Singapore  2012   17
1  Dengue Haemorrhagic Fever      0  Singapore  2012   17
2                    Malaria      2  Singapore  2012   17
3               Dengue Fever     86  Singapore  2012   18
4  Dengue Haemorrhagic Fever      2  Singapore  2012   18

In [57]:
df.to_csv("./../../data/2_clean/SG_disease.csv")