<h1><center> Our goal </center></h1>

|| country | year   | week | disease   | cases   | region   |
|------|------|------|------|------|------|
|<b>0</b>|   Malaysia  | 2016|1   |Dengue Fever|2    |PERLIS|
|...|   ...  | ...|...  |... |...   |...|

<h1><center> What we have (Malaysia)</center></h1>

In [ ]:
import pandas as pd

In [ ]:
file_path = "./../../data/1_raw/MY_dengue.xlsx"
xls_file = pd.ExcelFile(file_path)
df = xls_file.parse()
df.head(20)

In [ ]:
# TODO define constants & explain NaN 
df = pd.read_excel(file_path, na_values="na", skiprows=1, skip_footer=110, parse_cols=52, index=False)
df.head()

<h1><center>What is melt?</center></h1>

In [ ]:
#Melt transform wide dataframe to tall dataframe
melt_example_df = pd.DataFrame(data={'Student': ['Sarah', 'Ben'], 'Biology': ['A', 'B'], 'Math':['C', 'A'], 'Physics':['B', 'A']})
melt_example_df = melt_example_df[['Student', 'Biology', 'Math', 'Physics']]
melt_example_df.head()

In [ ]:
melt_example_df = pd.melt(melt_example_df, var_name='Subject', value_name='Score', id_vars='Student')
melt_example_df.head()

<h1><center>Back to Malaysia dataframe</center></h1>

In [ ]:
df.head()

In [ ]:
df = pd.melt(df, var_name='week', value_name='cases', id_vars='NEGERI')
df.head()

In [ ]:
df['year'] = 2010
df['country'] = 'Malaysia'
df.head()

In [ ]:
df['week'] = df['week'].map(lambda x: x.strip()).str[-2:].astype(int)
df.head()

In [ ]:
df.rename(columns={'NEGERI': 'region'}, inplace=True)
df.head()

In [ ]:
df.to_csv("./../../data/2_clean/MY_dengue.csv")