<h1><center> Our goal (tidy)</center></h1>

|| country | year   | week | disease   | cases   |
|------|------|------|------|------|------|
|<b>0</b>|   Singapore  | 2015|1   |Dengue Fever|3    |
|<b>1</b>|   Singapore  | 2015|2   |Malaria|0    |
|...|   ...  | ...|...  |... |...   |

<h1><center> What we have (raw)</center></h1>

In [24]:
import pandas as pd

In [23]:
df = pd.read_csv("./../../data/2_clean/in/weekly-dengue-malaria.csv", names=['year_week', 'disease', 'cases'], header=0)
df.head()

  year_week                    disease  cases
0  2012-W09  Dengue Haemorrhagic Fever      0
1  2012-W09                    Malaria      0
2  2012-W10               Dengue Fever     45
3  2012-W10  Dengue Haemorrhagic Fever      1
4  2012-W10                    Malaria      4

<h1><center>Cleaning steps</center><h1>

In [17]:
# Step 1: add a new column
df["country"] = "Singapore"
df.head()

  year_week                    disease  cases    country
0  2012-W09  Dengue Haemorrhagic Fever      0  Singapore
1  2012-W09                    Malaria      0  Singapore
2  2012-W10               Dengue Fever     45  Singapore
3  2012-W10  Dengue Haemorrhagic Fever      1  Singapore
4  2012-W10                    Malaria      4  Singapore

In [18]:
# Step 2: split year_week into two columns: year and week
df[['year','week']] = df['year_week'].str.split('-W', expand=True) #try expand=false, show split on one string
df.head()

  year_week                    disease  cases    country  year week
0  2012-W09  Dengue Haemorrhagic Fever      0  Singapore  2012   09
1  2012-W09                    Malaria      0  Singapore  2012   09
2  2012-W10               Dengue Fever     45  Singapore  2012   10
3  2012-W10  Dengue Haemorrhagic Fever      1  Singapore  2012   10
4  2012-W10                    Malaria      4  Singapore  2012   10

In [19]:
# Step 3: remove year_week column
df.drop('year_week', sdasd=1, inplace=True) # TODO
df.head()

                     disease  cases    country  year week
0  Dengue Haemorrhagic Fever      0  Singapore  2012   09
1                    Malaria      0  Singapore  2012   09
2               Dengue Fever     45  Singapore  2012   10
3  Dengue Haemorrhagic Fever      1  Singapore  2012   10
4                    Malaria      4  Singapore  2012   10

In [20]:
# Step 4: clean week column
df['week'] = df['week'].apply(lambda x: x.lstrip("0")) # show lstrip on one line
df.head()

                     disease  cases    country  year week
0  Dengue Haemorrhagic Fever      0  Singapore  2012    9
1                    Malaria      0  Singapore  2012    9
2               Dengue Fever     45  Singapore  2012   10
3  Dengue Haemorrhagic Fever      1  Singapore  2012   10
4                    Malaria      4  Singapore  2012   10

In [21]:
df.to_csv("./../../data/2_clean/SG_disease.csv")