# json
## Data.gov.sg
https://data.gov.sg/

In [2]:
import json
import pandas as pd

Get the API link from:
https://data.gov.sg/dataset/weekly-infectious-disease-bulletin-cases

In [3]:
url = 'https://data.gov.sg/api/action/datastore_search?resource_id=ef7e44f1-9b14-4680-a60a-37d2c9dda390&limit=50000'

In [4]:
import requests

In [5]:
fileobj = requests.get(url)

In [6]:
dict_text=json.loads(fileobj.text)

In [23]:
DISEASE_LIST = ["Dengue Fever", "Dengue Haemorrhagic Fever", "Malaria"]
COLUMNS = ["epi_week", "disease", "no._of_cases"]

In [31]:
df = pd.DataFrame()
for i in dict_text["result"]["records"]:
    if i["disease"] in DISEASE_LIST:
        s = pd.Series([i["epi_week"], i["disease"], i["no._of_cases"]])
        df = df.append(s, ignore_index=True)
df.head()

          0                          1   2
0  2012-W09               Dengue Fever  55
1  2012-W09  Dengue Haemorrhagic Fever   0
2  2012-W09                    Malaria   0
3  2012-W10               Dengue Fever  45
4  2012-W10  Dengue Haemorrhagic Fever   1

In [32]:
df.columns = COLUMNS
df.head()

   epi_week                    disease no._of_cases
0  2012-W09               Dengue Fever           55
1  2012-W09  Dengue Haemorrhagic Fever            0
2  2012-W09                    Malaria            0
3  2012-W10               Dengue Fever           45
4  2012-W10  Dengue Haemorrhagic Fever            1

In [33]:
df.to_csv("./../../data/1_raw/SG_disease.csv")